exportPattern("^[[:alpha:]]+")
importFrom("adabag", "boosting")
importFrom("arm", "bayesglm")
importFrom("brnn", "brnn")
importFrom("C50", "C5.0")
importFrom("car", "vif")
importFrom("Cubist", "cubist")
importFrom("corrplot", "corrplot")
importFrom("doParallel", "registerDoParallel")
importFrom("dplyr", "across", "count", "mutate", "relocate", "select", "%>%")
importFrom("e1071", "naiveBayes", "svm")
importFrom("gam", "gam")
importFrom("gbm", "gbm")
importFrom("ggplot2", "geom_boxplot", "geom_histogram", "ggplot", "facet_wrap", "labs", "theme_bw", "aes")
importFrom("ggplotify", "as.ggplot")
importFrom("glmnet", "glmnet")
importFrom("graphics", "hist", "pairs", "panel.smooth", "par", "rect")
importFrom("gridExtra", "grid.arrange")
importFrom("gt", "gt")
importFrom("ipred", "bagging")
importFrom("klaR", "rda")
importFrom("MachineShop", "fit")
importFrom("magrittr", "%>%")
importFrom("MASS", "lda", "qda")
importFrom("mda", "mda", "fda")
importFrom("parallel", "makeCluster")
importFrom("pls", "pcr")
importFrom("pROC", "roc", "ggroc")
importFrom("purrr", "keep")
importFrom("randomForest", "randomForest")
importFrom("ranger", "ranger")
importFrom("reactable", "reactable")
importFrom("readr", "cols")
importFrom("rpart", "rpart")
importFrom("reactablefmtr", "add_title")
importFrom("scales", "percent")
importFrom("stats", "binomial", "complete.cases", "cor", "model.matrix", "plogis", "predict", "rbinom", "reorder", "sd", "var")
importFrom("tidyr", "gather", "pivot_longer")
importFrom("tree", "tree")
importFrom("utils", "head", "read.csv", "str")
importFrom("xgboost", "xgb.DMatrix", "xgb.train")
